@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  display: flex;
  align-items: center;
  margin-top: -5rem;
  flex-direction: column;
  text-align: center;
}

.formEmail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 5px solid #673f1e;
  border-radius: 20px;
  background-color: #eddcd9;
  margin: 5rem auto; 
  padding: 2rem; 
  max-width: 50rem;
  text-align: center;
}

.formEmail h1,
.formEmail h2 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #006666;
}

.formEmail input[type="email"] {
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  display: flex;
  align-self: center;
  font-size: 20px;
  height: 2.5rem;
  width: 50%; 
  background-color: transparent;
}

.formEmail input[type="submit"] {
  width: 30%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  background: #5474de;
  border-radius: 20px;
  text-transform: uppercase;
  user-select: none;
  font-weight: 600;
  padding: 0.4rem;
  cursor: pointer;
  border: none;
}
.formEmail button {
  border: none;
  background-color: #b76b1f;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 20%;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
  height: 60%;
  width: 50%;
  border: 5px solid #0460a0;
  border-radius: 20px;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  user-select: none;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

#p-link{
  color: #000000;
}

#pass-loc{
  margin-top: 20px;
}

.link-pass{
  color: #003cff;
  font-size: 1.1rem;
  font-weight: 500;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  background: #5474de;
  border-radius: 20px;
  user-select: none;
  font-weight: 800;
}

.btn:hover {
  opacity: 0.9;
}

.link {
  font-weight: 800;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
}

/* Responsividade */

@media (max-width: 765px) {
  .formEmail{
  border: 5px solid #673f1e;
  border-radius: 20px;
  background-color: #eddcd9;
  padding: 2rem; 
  width: 80%;
  text-align: center;
}
}
@media (max-width: 1024px) {
  .formEmail{
  width: 70%;
  }
  .formEmail h1, .formEmail h2 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #006666;
}
}

@media (max-width: 1360px) {

}
