.container {
  display: flex;
  align-items: center;
  margin-top: -5rem;
  flex-direction: column;
  text-align: center;
}

.formEmail {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border: 5px solid #673f1e;
  background-color: #eddcd9;
  margin-inline: 30rem;
  margin-top: 8rem;
  text-align: center;
  height: 60%;
  width: 50%;
  align-items: center;
  padding-inline: 12rem;
}

.formEmail h1,
.formEmail h2 {
  font-weight: 500;
  color: #006666;
}

.formEmail input[type="email"] {
  border-inline: none;
  border-top: none;
  outline: none;
  width: 50%;
  background-color: transparent;
}

.formEmail input[type="submit"] {
  width: 10rem;
  color: white;
  font-size: 1.2rem;
  background: #5474de;
  border-radius: 20px;
  user-select: none;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #b66e33;
  padding-block: 0.4rem;
  cursor: pointer;
}

.formEmail button {
  border: none;
  background-color: #b76b1f;
  color: white;
  width: 15%;
  border-radius: 2rem;
  padding-block: 0.4rem;
  cursor: pointer;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  height: 60%;
  width: 50%;
  border: 5px solid #673f1e;
  border-radius: 20px;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  user-select: none;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

#p-link{
  color: #000000;
}

#pass-loc{
  margin-top: 20px;
}

.link-pass{
  color: #003cff;
  font-size: 1.1rem;
  font-weight: 500;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #b66e33;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #b66e33;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  background: #5474de;
  border-radius: 20px;
  user-select: none;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #b66e33;
}

.btn:hover {
  opacity: 0.9;
}

.link {
  font-weight: 800;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
}
