.containerCards{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}

.cardChurch{
    border-radius: 5px;
    border: 1px solid brown;
    padding: 1rem 1rem;
    gap: 2px;
    color: black;
}