h1,
h2 {
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 650;
  font-family: 'Montserrat', serif;
}

i{
  color: blue;
  padding: 2rem auto;
  text-decoration: underline;
}
