@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333; /* cor antiga: #f7dec8 */
}

a {
  color: white; /*cor antiga #362720 */
  outline: none;
  text-decoration: none;
}

#paragrafh-welcome {
  padding-top: 2rem;
  max-width: 52rem;
  text-align: justify;
  font-size: 1.5rem;
}

header a {
  color: #0460a0; /* Links header */
  cursor: pointer;
}

#welcome-part2 {
  font-size: 5vh;
  padding-top: 3rem;
}

.containerHome {
  display: flex;
  padding-top: 8em;
  padding-inline: 5em;
  align-items: center;
  background-color: #fff; /* Fundo branco para contraste com outros elementos */
  color: #0460a0; /* Texto com cor principal */
  justify-content: space-evenly;
}

.img-wel {
  display: grid;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  pointer-events: none;
  place-items: center;
  height: 100%;
}

header {
  max-width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: #0460a0; /* Texto para contraste */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9;
}

ul {
  display: flex;
  list-style: none;
}

#achei {
  color: #0460a0;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

#achei img {
  max-height: 50px; 
  height: auto;
  width: auto;
}

header > ul {
  width: auto;
  height: 100%;
  display: flex;
  gap: 3rem; 
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center; 
}

header > ul > li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#ola {
  color: red;
}

#hamb {
  height: 50%;
  display: none;
}

button {
  background-color: #0460a0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #054d85;
}

#btn-wel {
  border-radius: 6px;
  width: 211px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  background-color: #0460a0;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

#btn-wel:hover {
  background-color: #054d85; /* Cor mais escura ao passar o mouse */
}

#break {
  width: 100%;
  color: #0460a0;
  height: 0px;
  border-radius: 1rem;
  border: 2px solid #0460a0;
  background-color: white;
  overflow: hidden;
}

.text-wel {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

#break > ul {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
}

#break > ul > li {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#break > ul > li:hover {
  background-color: #0460a0;
  color: #fff;
}

.userPhoto > img {
  border-radius: 50%;
  height: 70%;
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 766px) {
  #hamb {
    display: block;
    transform: translate(1.2rem);
  }

  header > ul {
    display: none;
  }

  .containerHome{
    visibility: visible;
  }

  #welcome-part2{
    font-size: 2rem;
  }

  #paragrafh-welcome{
    text-align: justify;
    width: 20rem;
    letter-spacing: 0.02em;
  }

  header {
    margin: 0.3rem;
    padding-inline: 1rem;
  }

  #break {
    margin-inline: 1rem;
  }

  #break > ul {
    font-size: 1rem;
  }

  #achei {
    font-size: 23px;
  }
}

@media (max-width: 1248px){
  Header{
    width: 90%;
  }
}

@media (max-width: 1439px) {
  
  #break > ul > li > a{
    font-size: 1.2rem;
  }
  
  #break > ul {
    font-size: 1.4rem;
  }
}