@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

body {
  background: linear-gradient(to left, #339262, #b9ffdd);
}

a {
  color: black;
  outline: none;
  text-decoration: none;
}

header {
  min-width: 97%;
  height: 70px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding-inline: 3rem;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  list-style: none;
}

#achei {
  color: #006666;
  font-size: 30px;
  font-weight: 600;
}

header > ul {
  width: 60%;
  gap: 1rem;
}

header > ul > li {
  width: 100%;
  display: grid;
  place-items: center;
}

#ola {
  color: red;
}

#hamb {
  height: 50%;
  display: none;
}

#two {
  max-width: 100%;
  color: black;
  height: 0px;
  background-color: white;
  overflow: hidden;
  margin-inline: 1rem;
}

#two > ul {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
}

#two > ul > li {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#two > ul > li:hover {
  background-color: rgba(51, 153, 102, 1);
  color: white;
}

/* Responsividade */

@media (max-width: 765px) {
  #hamb {
    display: block;
    transform: translate(1.2rem);
  }

  header > ul {
    display: none;
  }

  header {
    margin: 0.3rem;
    padding-inline: 1rem;
  }

  #two {
    margin-inline: 0.3rem;
  }

  #two > ul {
    font-size: 1rem;
  }

  #achei {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1360px) {
  header > ul {
    width: 80%;
  }

  #two > ul {
    font-size: 1.4rem;
  }
}
