@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333; /* cor antiga: #f7dec8 */
}

a {
  color: white; /*cor antiga #362720 */
  outline: none;
  text-decoration: none;
}

#paragrafh-welcome {
  padding-top: 2rem;
  max-width: 52rem;
  text-align: justify;
  font-size: 1.5rem;
}

#welcome-part2 {
  font-size: 5vh;
  padding-top: 3rem;
}

.containerHome {
  display: flex;
  padding-top: 7em;
  padding-inline: 5em;
  align-items: center;
  background-color: #fff;
  color: #0460a0;
  justify-content: space-evenly;
}

.img-wel {
  display: grid;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  pointer-events: none;
  place-items: center;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  position: sticky;
  padding: 10px 20px;
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid #0460a0;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

#userPage-header{
  color: #0460a0;
  font-size: 16px;
  text-decoration: none;
}

#userPage-header:hover {
  color: #007BFF;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-links li {
  margin-left: 15px;
}

#ola {
  color: red;
}

#hamb {
  height: 50%;
  display: none;
}

button {
  border: none;
  padding: 10px 20px;
}

#btn-wel {
  border-radius: 6px;
  width: 211px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  background-color: #0460a0;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

#btn-wel:hover {
  background-color: #054d85; /* Cor mais escura ao passar o mouse */
}

.text-wel {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.userPhoto > img {
  border-radius: 50%;
  height: 70%;
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 766px) {
  #hamb {
    display: block;
    transform: translate(1.2rem);
  }

  header > ul {
    display: none;
  }

  .containerHome{
    visibility: visible;
  }

  #welcome-part2{
    font-size: 2rem;
  }

  #paragrafh-welcome{
    text-align: justify;
    width: 20rem;
    letter-spacing: 0.02em;
  }

  header {
    margin: 0.3rem;
    padding-inline: 1rem;
  }

  #break {
    margin-inline: 1rem;
  }

  #break > ul {
    font-size: 1rem;
  }

  #achei {
    font-size: 23px;
  }
}

@media (max-width: 1248px){
  Header{
    width: 90%;
  }
}

@media (max-width: 1439px) {
  
  #break > ul > li > a{
    font-size: 1.2rem;
  }
  
  #break > ul {
    font-size: 1.4rem;
  }
}