@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

#logout {
  width: 50%;
  height: auto;
}

#enter {
  width: 50%;
  height: auto;
}

#del{
  width: 70%;
  height: auto;
}

#signImg {
  width: 5%;
  height: auto;
}

.SairButton {
  border: none;
  color: white;
  padding: 0.75rem;
  width: 5rem;
  background-color: #0460a0;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  border-radius: 1rem;

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
  }
}
.CadastrarChurchButton {
  background-color: rgb(76, 175, 80);
  border: none;
  width: 8rem;
  height: 4rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CadastrarChurchButton:hover {
  filter: brightness(85%);
}

.EnterChurchButton {
  background-color: rgb(33, 150, 243);
  border: none;
  width: 8rem;
  height: 4rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.EnterChurchButton:hover {
  filter: brightness(85%);
  font-weight: 900;
  cursor: pointer;
}

#MainUserPage {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

#FirstSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#FirstSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-delete{
  display: grid;
  height: 1%;
  width: 6%;
}

#btnDelete{
  border: none;
  color: red;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  border-radius: 1rem;

  &:hover {
    background-color: rgb(255, 70, 70);
    cursor: pointer;
  }
}

#end-account{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 7rem;
  margin-top: 2rem;
  cursor: pointer;
  padding-block: 1rem; 
  background-color: red; 
  color: black; 
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat'; 
  text-transform: uppercase;
}

#end-account:hover{
  filter: brightness(85%);
}