.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: whitesmoke;
  flex-direction: column;
  color: green;
  margin-inline: 3rem;
  padding: 2rem;
}

.card button {
  border: none;
  background-color: #da2222;
  color: white;
  padding: 1rem;
  margin-inline: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

button :hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}
